# nextflow
.nextflow*
work
log
null

# Pipeline results
outputs
demix_rerun
variants_rerun
aggregate_demix.tsv
bam

muninn_sc2_ww_ingestion/
all_sra_outputs/
san_diego/
*.demix*
*.variants*
*.depths*
# vscode
.vscode

# Singularity
*.img
*.sif

# metadata
*.xml

# macOS
.DS_Store

PRJNA1*